* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-spacing: 10px;
  line-height: 1.5;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav {
  top: 0;
  display: inline;
  position: sticky;
}
.nav {
  display: flex;
  color: #888888;
  padding: 15px 25px;
  align-items: center;
  flex-direction: row;
  background-color: #FFE8DF;
  justify-content: space-between;
}
nav ul {
  display: inherit;
  flex-direction: inherit;
  gap: 30px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  color: #888888;
  text-decoration: none;
}
header {
  display: flex;
  padding: 100px;
  color: #888888;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #F0F0F0;
}
header p {
  text-align: center;
}
main {
  flex: 1;
  display: flex;
  color: #888888;
  padding: 5px 10px;
  flex-direction: column;
  background-color: #FFFFFF;
}
figure {
  width: 300px;
  height: 300px;
  text-align: center;
}
footer {
  padding: 20px;
  display: flex;
  color: #888888;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFE8DF;
}
input, textarea {
  padding: 5px 10px;
  font-size: 16px;
  background: none;
  border: 2px solid #888888
}
input:focus, textarea:focus {
  outline: none;
}
input {
  width: 300px;
}
textarea {
  flex: 1;
  width: 50%;
  resize: none;
  margin: 10px 0;
  align-self: center;
}
button {
  border: none;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  background: none;
  border-radius: 3px;
}
button:hover {
  background-color: #F0F0F0;
}
.active {
  font-weight: 600;
}
.container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  padding: 10px;
}
.card {
  gap: 20px;
  display: flex;
  flex-direction: row;
}
.toko {
  gap: 20px;
  width: 50%;
  align-self: center;
}
.action-container {
  gap: 20px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}
.buy {
  color: #888888;
  background-color: #FFE8DF;
}
.details {
  color: #FFE8DF;
  background-color: #888888;
}
.custom-button {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.increment {
  width: 180px;
  background-color: #FFCACC;
}
.heading-item {
  width: 70px;
}
.submit {
  width: 50%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #FFCACC;
  align-self: center;
}
.back {
  color: #F0F0F0;
  background-color: #888888;
}